.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 60%;
  padding: 0.4rem 7rem;
  background-repeat: no-repeat no-repeat;
}
.container {
  background-image: url(/src/assets/image.png);
  background-position: 0rem 26rem;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.tittle {
  font-weight: bold;
  font-size: 2.5rem;
}
.text {
  font-size: x-large;
  justify-content: center;
  margin: 5% 30%;
  text-align: center;
}
.register_btn:hover {
  box-shadow: 0.1rem 0.1rem 1rem #09262983;
}
.btn:hover {
  box-shadow: 0.1rem 0.1rem 1rem #09262983;
}
.icons {
  margin-top: 12.5rem;
  margin-left: 2%;
}

.register_btn {
  color: #fffbf7;
  background-color: #135359;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 1rem 4rem;
  width: 9rem;
  height: 2rem;
  margin: 1rem;
}
.btn {
  border: 1px solid #135359;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 1rem 4rem;
  width: 9rem;
  height: 2rem;
  margin: 1rem;
  color: #135359;
}
