.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.page {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.subcontainer_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35%;
}
.calendar {
  background-color: transparent;
  padding: 0.6rem;
  margin: 1rem 4rem;
}
.subcontainer_botton {
  width: 100%;
  height: 65%;
  display: flex;
}
.box_left {
  padding: 2rem;
  padding-left: 4.4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box_right {
  padding: 2rem 0rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.iten_box {
  width: 48rem;
  height: 48rem;
  background-color: #fcf7f2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.clock {
  padding: 0rem 30rem;
}
.iten_box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.button {
  padding: 0;
  width: 30%;
  height: 30%;
}
