.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content_column {
  width: 100%;
  margin: 2rem;
}
.content_column input {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-color: #135359;
}
input[type="radio"] {
  appearance: none;
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #135359;
  border-color: #135359;
}
.radios {
  width: 50%;
  margin-top: 1rem;
}
.generic {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.input label {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.radios .status {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
