.page {
  width: 100%;
  height: 100%;
  display: flex;
}
.content {
  height: 85%;
  width: 90%;
  display: flex;

  padding: 3% 0% 0% 8%;
}
.list {
  height: 100%;
  width: 80%;
}
.cards_list {
  width: 100%;
  height: 90%;
  background-color: #fcf7f2;
  overflow-y: scroll;
  overflow-x: hidden;
}
label {
  font-weight: 500;
  font-size: 1.1rem;
}
.buttons {
  display: flex;
  flex-direction: column-reverse;
  width: 18%;
}
.button {
  color: #fffbf7;
  background-color: #135359;
  border: none;
  border-radius: 0.5em;

  font-size: 1.2rem;
  text-decoration: none;

  cursor: pointer;

  width: 90%;
  height: 7%;
  margin: 1rem 2rem;
}
.button_add {
  color: #fffbf7;
  background-color: #135359;
  border: none;
  border-radius: 0.5em;

  text-decoration: none;
  text-align: center;

  cursor: pointer;

  display: flex;
  justify-content: center;

  width: 90%;
  height: 7%;
  margin: 1rem 2rem;
  padding-top: 0rem;
}
.button_add p {
  font-size: 1.3rem;
  font-weight: 400;

  margin: 5%;
}
