.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-color: #f4f7fc;
  min-height: 100vh;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cards lado a lado */
  gap: 10px;  /* Diminui o espaçamento entre as linhas e colunas */
  width: 100%;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1px; /* Reduz o padding dentro do card */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.infos {
  margin-bottom: 5px; /* Reduz o espaçamento entre as seções dentro do card */
}

.text {
  font-size: 14px;
  color: #333;
  line-height: 0; /* Ajusta o espaçamento entre as linhas de texto */
}

.text strong {
  font-weight: bold;
}

.text span {
  color: #007bff;
}

.card .infos .text {
  font-size: 14px;
  font-weight: normal; /* Ajusta para não ser em negrito */
  color: #666;
  line-height: 0; /* Ajusta o espaçamento entre as linhas de texto */
}
