.page {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}
.box {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  padding: 5% 0% 0% 10%;
}
.left {
  width: 70%;
  height: 90%;
}
.iten_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #fcf7f2;
  overflow-y: scroll;
  overflow-x: hidden;
}
.navbutton {
  width: 50%;
  height: 7%;
  margin: 5rem;
}
.rest {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
