#root,
html {
  height: 100dvh;
  width: 100dvw;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #fffbf7;
  font-family: "Baloo 2";
  color: #135359;

  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #efe7df;
}
::-webkit-scrollbar-thumb {
  background-color: #b6aea7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c948f;
}
